.font{
  font-family: 'Open Sans', sans-serif;}
.color-fe{
  color: #fefefe;
}
.input-search:focus{
outline: red;
}
html {
  background-color: #233040;
  height: 100vh;
}
body{
  background-color: #233040;

}
.background-body{
  background-color: #233040;

}

a:link{
  text-decoration: none;
}

.hide{
  position: relative;
  top: -15rem;
  left: 1.6rem;
  opacity: 50%;
}

.default-button{
  background-color: #da283b;
  border: 1px solid #da283b;
  color: #fefefe;
  height: 4rem;
  width: 19rem;
  border-radius: 8px;
}
.default-button:hover{
  background-color: #ca3443;
}
.color-footer{
  /* color: #947f5f; */
  color: #fefefe;
}
.font-18{
  font-size: 18px;
}
.font-14{
  font-size: 14px;
}
.font-12{
  font-size: 12px;
}
@media screen and (max-width:991px) {
   .free-download{
    padding-top: 15px;
   }
}
a:hover{
  color: rgb(218, 40, 59);
}