.font{
  font-family: 'Open Sans', sans-serif;}
.color-fe{
  color: #fefefe;
}
.input-search:focus{
outline: red;
}
html {
  background-color: #233040;
  height: 100vh;
}
body{
  background-color: #233040;

}
.background-body{
  background-color: #233040;

}

a:link{
  text-decoration: none;
}

.hide{
  position: relative;
  top: -15rem;
  left: 1.6rem;
  opacity: 50%;
}

.default-button{
  background-color: #da283b;
  border: 1px solid #da283b;
  color: #fefefe;
  height: 4rem;
  width: 19rem;
  border-radius: 8px;
}
.default-button:hover{
  background-color: #ca3443;
}
.color-footer{
  /* color: #947f5f; */
  color: #fefefe;
}
.font-18{
  font-size: 18px;
}
.font-14{
  font-size: 14px;
}
.font-12{
  font-size: 12px;
}
@media screen and (max-width:991px) {
   .free-download{
    padding-top: 15px;
   }
}
a:hover{
  color: rgb(218, 40, 59);
}
.box{
  text-align: center;
  align-self: center;
  background-color: #ca3443;
  filter: drop-shadow(11px 3px 10px rgb(179, 71, 71));
  border-radius: 12px;
}
.login-input{
  outline: none;
  background-color: #ca3443;
  border: none;
  border-bottom: 1px solid #233040;
  color: #fefefe;
}
.login-input::placeholder{
  color: #fefefe;
  position: relative;
  right: 2rem;
 

}
.login-input:focus{
 border-bottom: 1px solid #fefefe;
}
.btn-login{
  color: #fefefe;
  background-color: #233040;
  border: 1px dashed #233040;
  padding: 6px 100px;
  border-radius: 20px;
  
}
.btn-login:hover{
  background-color: #263344;
}
.btn-fb{
  color: #fefefe;
  border: 1px solid #233040;
  border-radius: 11px;
  background-color: #233040;
  padding-top: 0.4rem;
  padding-bottom: 0.7rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}
.btn-fb:hover{
  background-color: #ca3443;
  color: #233040;
}
.fb{
  height: 20px;
}
.fb-text{
  position: relative;
  top: 0.1rem;
  left: 0.4rem;
  
}

.vh-100{
  height: 100vh;
}